

{% include "partials/header.html" %}
<br>
<br>
<br>
<br>
<div class="ui main text container">
  <div class="ui form">
<form action="/recipes" method="POST">
  <div class="field">
    <input type="text" placeholder="Recipe Title" id="title" name="title">
  </div>
  <div class="field">
    <input type="text" placeholder="Image URL" id="image-url" name="image">
  </div>
  <div class="field">
    <textarea placeholder="Recipe" id="body" name="body"></textarea>
  </div>
   <button class="ui button" type="submit">Add</button>
</form>
</div>
</div>
{% include "partials/footer.html" %}
